.gallery__container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 30px 0;

  @media (min-width:769px) and (max-width:1025px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0.5vh 0;
    p {
      font-weight: 500;
      font-size: 1.3rem;

      @media (max-width:426px) {
        font-size: 1rem;
      }
      @media (min-width:426px) and (max-width:769px) {
        margin-bottom: 15px;
      }
      @media (min-width:769px) and (max-width:1025px) {
        margin-bottom: 0;
      }
    }
    h1 {
      font-size: 3.2rem;
      font-weight: 600;
    }
  }

  .swiperContainer {
    width: 100%;
    .swiperSlide {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      width: 100%;
      .image__container {
        width: 33%;
        height: 400px;
        overflow: hidden;
        img {
          transition: .4s;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          &:hover{
            transform: scale(1.1,1.1);
          }

          @media (max-width: 425px) {
            width: 80vw;
            object-fit: cover;
          }

          @media (min-width: 426px) and (max-width: 769px) {
            width: 40vw;
            object-fit: cover;
          }
          // @media (min-width:769px) and (max-width:1025px) {
          //   width: 33%;
          //   object-fit: cover;
          // }

          // @media (min-width:768px) and (max-width:1024px) {
          //   object-fit: cover;
          // }
        }
      }
    }
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: orangered !important;
}
