.facilities__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f3f3f5;
  margin: 30px 0;
  background: transparent;
  gap: 20px;
}
@media (max-width: 426px) {
  .facilities__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .facilities__container {
    margin: 0;
  }
}
.facilities__container .about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 426px) {
  .facilities__container .about {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 5px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .facilities__container .about {
    width: 50%;
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .facilities__container .about {
    width: 50%;
  }
}
.facilities__container .about h2 {
  font-size: 3.2rem;
  font-weight: bold;
}
.facilities__container .about h2 .span {
  color: orangered;
}
@media (max-width: 426px) {
  .facilities__container .about h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .facilities__container .about h2 {
    font-size: 2.5rem;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .facilities__container .about h2 {
    font-size: 2.5rem;
    text-align: left;
  }
}
.facilities__container .about p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
@media (max-width: 426px) {
  .facilities__container .about p {
    font-size: 1.2rem;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .facilities__container .about p {
    margin: 15px 0;
  }
}
.facilities__container .about button {
  background: orangered;
  border: none;
  color: #fff;
  width: auto;
  max-width: 15vw;
  border-radius: 10px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 1rem;
}
@media (max-width: 769px) {
  .facilities__container .about button {
    max-width: 50vw;
    width: 100%;
    margin-bottom: 30px;
  }
}
.facilities__container .facilities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 50%;
}
@media (max-width: 769px) {
  .facilities__container .facilities {
    padding: 10px;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 426px) {
  .facilities__container .facilities {
    place-content: center;
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .facilities__container .facilities {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
.facilities__container .facilities div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  gap: 0.7vw;
  padding: 25px 8px;
  border-radius: 0.2vw;
  border: 1px solid rgb(232, 232, 232);
}
.facilities__container .facilities div p {
  font-size: 14px;
}
.facilities__container .facilities div:hover {
  border: 1px solid orangered;
}
.facilities__container .facilities div .icon {
  color: orangered;
  font-size: 30px;
}