.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 30px 0;
}
@media (max-width: 426px) {
  .gallery__container {
    margin: 0;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .gallery__container {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .gallery__container {
    margin: 0;
  }
}
@media (min-width: 1025px) and (max-width: 1441px) {
  .gallery__container {
    margin: 0;
  }
}
.gallery__container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 0.5vh 0;
}
.gallery__container .about p {
  font-weight: 500;
  font-size: 1.3rem;
}
@media (max-width: 426px) {
  .gallery__container .about p {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
@media (min-width: 769px) and (max-width: 1025px) {
  .gallery__container .about p {
    margin-bottom: 10px;
  }
}
@media (min-width: 1025px) and (max-width: 14401px) {
  .gallery__container .about p {
    margin-bottom: 10px;
  }
}
.gallery__container .about h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
@media (max-width: 426px) {
  .gallery__container .about h1 {
    text-align: center;
    font-size: 2.5rem;
  }
}
.gallery__container .menuSwiperContainer {
  width: 100%;
}
.gallery__container .menuSwiperContainer .swiperSlide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: 80vh;
}
.gallery__container .menuSwiperContainer .swiperSlide .image__container {
  width: 33%;
  height: 100%;
}
.gallery__container .menuSwiperContainer .swiperSlide .image__container img {
  width: 100%;
  height: 100%;
}
.gallery__container .menuSwiperContainer .swiperSlide .image__container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 426px) {
  .gallery__container .menuSwiperContainer .swiperSlide .image__container img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 426px) and (max-width: 769px) {
  .gallery__container .menuSwiperContainer .swiperSlide .image__container img {
    width: 40vw;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: orangered !important;
}