* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.Shadow {
  background: rgba(255, 255, 255, 0.1) !important;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(15px) !important;
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667);
  color: #fff;
}
@media (max-width: 426px) {
  button {
    display: none;
  }
}
@media (max-width: 426px) {
  .MuiButton-root {
    display: none;
  }
}
.css-hyum1k-MuiToolbar-root {
  padding: 0;
  padding-left: 0;
  padding-right: 0;
}
#Home div {
  padding: 0;
}
@media (max-width: 426px) {
  .image__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 80%;
  }
}
.image__link img {
  background: transparent;
}
.active {
  border-bottom: 3px solid orangered;
}
@media (min-width: 601px) and (max-width: 769px) {
  #Home div div {
    font-size: 16px;
    gap: 20px;
  }
}
