.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 97%;
  background: #eeeeee;
  cursor: pointer;
  border-radius: 5px;
  gap: 15px;
}
@media (max-width: 425px) {
  .testimonial {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.testimonial:hover {
  background: #f3f3f5;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.testimonial .swiper-pagination-bullet {
  color: transparent;
  display: none;
}
.testimonial .about {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 425px) {
  .testimonial .about {
    width: 100%;
  }
}
.testimonial p {
  font-size: 1rem;
}
.testimonial p .icon {
  padding: 0.5vw 0.5vh;
  color: orangered;
}
.testimonial h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
}
.testimonial img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}