@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap");

html {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: rgba($color: #000000, $alpha: 0.9);
  color: #fff;
  font-family: "Poppins", sans-serif;

  .bg__container {
    &::after {
      content: "";
      height: 100vh;
      width: 100vw;
      background: url(./images/balchhi1.jpg);
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      filter: blur(3px);
      -webkit-filter: blur(3px);
      transition: all 1s;
      z-index: 2;

      @media screen and (max-width: 425px) {
        height: 100vh;
        width: 100%;
      }
    }
    .content {
      position: absolute;
      z-index: 1;
      top: 13%;
      left: 15%;
      margin-top: 205px;
      margin-left: -145px;
      width: 550px;
      height: 450px;
      transition: all 1s;
      text-align: left;
      color: rgb(225, 225, 225);

      @media screen and (max-width: 425px) {
        top: 15%;
        width: 300px;
      }

      @media screen and (max-width: 786px) {
        margin-left: -50px;
        top: 20%;
      }

      @media screen and (max-width: 320px) {
        width: 200px;
        margin-left: -20px;
      }
      @media screen and (min-width: 1024px) {
        margin-left: -90px;
      }

      p {
        font-size: 1.5rem;

        @media screen and (max-width: 425px) {
          font-size: 12px;
        }

        @media screen and (max-width: 768px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 425px) {
          font-size: 12px;
        }
        @media screen and (min-width: 1024px) {
         font-size: 1.5rem;
        }
      }
      h3 {
        font-size: 3.5rem;

        @media screen and (max-width: 768px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 425px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 320px) {
          font-size: 20px;
        }

        @media screen and (min-width: 1024px) {
          font-size: 3rem;
        }
      }

      .icons__container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media screen and (max-width:1024px) {
          margin-top: 40px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 20px;
        }

        h4 {
          font-size: 1.2rem;

          @media screen and (max-width: 320px) {
            font-size: 16px;
          }
        }

        .icons {
          display: flex;
          gap: 20px;
          cursor: pointer;

          @media screen and (max-width: 425px) {
            gap: 15px;
          }

          a {
            &:nth-child(1):hover {
              color: rgb(66, 103, 178);
            }

            &:nth-child(2):hover {
              color: #8a3ab9;
            }

            i {
              font-size: 2rem;
              transition: all 0.5s;

              @media screen and (max-width: 425px) {
                font-size: 1.5rem;
              }

              @media screen and (max-width: 320px) {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
